h1 {
    text-align: center;
}

.header {
    border: 1px solid red;
}

.first-btn {
    border: 1px solid yellow;
}

.second-btn {
    border: 1px solid green;
}

.third-btn {
    border: 1px solid blue;
}

.fourth-btn {
    border: 1px solid brown;
}